* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}

.container {
  padding: 2rem;
}

.headerBanner {
  width: 100%;
  padding: 2rem;
  padding-bottom: 0;
}

.headerBanner img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.headerBanner h1 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

h1,
h2,
h3 {
  font-family: "Young Serif", serif;
}

h1 {
  color: hsl(24, 5%, 18%);
}

h2,
h3 {
  margin-bottom: 0;
  color: hsl(14, 45%, 36%);
}

p {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.5rem;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

.cajaResaltada {
  width: 100%;
  padding: 1rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
}

.cajaResaltada h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: hsl(332, 51%, 32%);
}

.cajaResaltada ul {
  margin-bottom: 0;
}

.sectionDivider {
  padding: 1rem;
  border-bottom: 1px solid hsl(30, 13%, 79%);
}

.nutrition {
  width: 100%;
  border-collapse: collapse;
}

.nutrition tr {
  border-bottom: 1px solid hsl(30, 13%, 79%);
}

.nutrition th,
.nutrition td {
  padding: 12px 0;
}

.nutrition th {
  text-align: left;
  font-weight: 400;
}

.nutrition td {
  font-weight: 800;
  color: hsl(14, 45%, 36%);
}

footer {
  padding: 1rem;
  background-color: hsl(330, 100%, 98%);
  text-align: center;
}